

<%- include("partials/header") %>




<div class="container" >
	
	<div class="row mt-5 m-md-5 pt-md-5 justify-content-center" >
	    <div class="col-12 col-md-10 mt-5" >
			<img src="/images/About/hello.svg" class="img-fluid">			
	    </div>
    </div>
		
		
	<div class="row justify-content-center">
		<div class="col-12 col-md-11">
			<h3 class="topicHeading my-5">I am an accredited Social Worker in private practice offering various post-adoption support services, including:</h3>
		</div> 
	</div>
			
	<div class="row px-2">
		<div class="col-6 col-md-3 mt-5 offset-2">
			<img src="/images/About/star.svg" class="img-fluid">
		</div>
	</div>	
		
	<div class="row justify-content-center">
		<div class="col-12 col-md-11">
		   <h3 class="topicHeading mb-5">Tracing missing family members and acting as an intermediary between my client and their relative
		   </h3>
	    </div>

		<div class="main col-12 col-md-11 mb-5">
			<p> Providing counselling, support and guidance to any adopted person who is thinking about searching for and contacting their birth relatives; or vice versa, if any relative of an adopted person is wishing to contact them. For example, a birth mother who is seeking information in relation to the child they placed in adoption. This process involves:
			</p>

			<ul>
				<li>Contacting the registrar to obtain information in relation to the adoption</li>
				<li>With this information, researching online records and archives and contacting a trace agency to obtain contact details.</li>
				<li>Contacting the individual (using discretion) on my clients’ behalf, seeking their consent, and if they consent, asking what type of communication they would feel comfortable with</li>
				<li>Preparatory work and counselling with both the adoptee and their relative</li>
				<li>Finally, mediating/facilitating contact between them, while offering support and counselling throughout the process.</li>
			</ul>
	   </div>
    </div>

	
	<div class="row m-md-5">
		<div class="col-12 col-md-6">
			<img src="/images/About/cartoon1.svg" class="img-fluid mt-5">
		</div>
		<div class="col-12 col-md-6">
			<img src="/images/About/cartoon2.svg" class="img-fluid mt-md-5">
		</div>
		<div class="col-12 col-md-6">
			<img src="/images/About/cartoon3.svg" class="img-fluid">
		</div>
		<div class="col-12 col-md-6">
			<img src="/images/About/cartoon4.svg" class="img-fluid">
		</div>
		<div class="col-12 col-md-6">
			<img src="/images/About/cartoon5.svg" class="img-fluid">
		</div>
		<div class="col-12 col-md-6 mb-5">
			<img src="/images/About/cartoon6.svg" class="img-fluid">
		</div>
	</div>  
	
	    
	<div class="row justify-content-center">
		<div class="col-12 col-md-11">
			<h3 class="topicHeading mb-5" >Trauma counselling for birth mothers and children/adults affected by the adoption process 
			</h3> 

			<p class="main"> I provide counselling to <span class="bold">birth mothers</span>. Older adoptions were often motivated by the shame and censure of an ‘illegitimate’ pregnancy. The mother had little choice and was subjected to intense pressure. Often she was not allowed to hold or view her baby, and wasn't told if her baby lived or died or even what gender. This trauma was seldom acknowledged or processed. At reunion it is often the first time a birth mom allows herself to mourn or grieve or address this trauma, which can remain fresh even years later. I help them to acknowledge and validate the loss and work through any unresolved grief.
			</p>
			<p class="main"> I also provide counselling to <span class="bold">adults affected by their adoption</span>. Often the trauma relating to the separation from your birth mother as a child is difficult to conceptualize or remember. It registers in a way that is not conscious or able to be articulated. There is only a feeling at a deeper level of something missing or lost and the inevitable question (despite feeling loved by adoptive parents) - “why was I give-awayable?” It can be at the root of feelings of depression, vague unease, anger, guilt, and trust issues. When psychic trauma is so deep that the memories are stored as implicit memory, finding creative modes for acknowledging, confronting and re-articulating grief is crucial to bring healing. I have training in the use of visual arts, the creative process, and therapeutic techniques. By way of symbols and metaphors, these help access the parts of the brain where trauma is stored and aid in processing unresolved or distressing experiences in a safe and unthreatening context. 

			  <!-- Read more on processing trauma as adoptees here and more about art therapy here. -->
			</p>
			<p class="main"> I also work with <span class="bold">young adopted children</span> with play and arts therapy. In a therapeutic relationship, play and art helps children cope with past feelings of rejection, abuse or loss. In acting out mistrust and anger through stories and toys, they can be relieved of some of their burden. We can explore helpful and unhelpful stories. As Cathy Malchiodi, in her book Creative Interventions with Traumatized Children (2008), writes - never underestimate the importance and “usefulness of play in helping adoptive children […] negotiate and facilitate new meanings in their lives”. 
			  <!-- More resources for parents with adoptive children can be found here.  -->
			</p>

			<p class="main mb-5" style="list-style-type:none">***To those who would prefer, I also offer whats-app and online counselling***</p>	  
		</div>
	</div>
		  	
		
	<div class="row justify-content-center">
		<div class="col-12 col-md-11">
			<h3 class="topicHeading my-5">Testimonials</h3>
			<blockquote class="blockquote">
			   <p class="mb-0">Silvi was recommended to me by Durban Child Welfare after searching for my Son for many years. A consummate professional, Silvi handled my inquiry with complete empathy and trust. Clearly her many years of experience in adoption placement has provided Silvi with a holistic approach that allows her to balance non-disclosure & her duty-of-care along with the absolute sensitivity required when dealing with the emotional vulnerability of her clients, on both sides of the search. Silvi's lovely energy & kindness translated across the huge distance of time and space between my son and I and since our reunion our relationship has gone from strength to strength. In no small way has Silvi's involvement been a key role in the outcome and we are both eternally grateful to her for helping make it happen.
				</p>
			  <footer class="blockquote-footer mb-5">L.C. <cite title="Source Title"></cite></footer>
	        </blockquote>
			<blockquote class="blockquote">
			   <p >I am an adult adoptee who found out I was adopted when I was in matric. I was not able to have a conversation with my adopted parents about how I came to be a part of my new family. After years of wondering, I finally found the courage to find out what was recorded as 'happened' by contacting the Adoption Registrar and requesting my adoption records file. I made my first application requesting the records in 2016. Every few months I would have this nagging feeling and make another attempt at contacting the Registrar and at first there was just silence. I then was able to make contact with a person who had the file pulled out of archive but was advised that the information in the file was very sensitive and that I need the support of a Social worker to go through it with me. 
				</p>
					   
				<p class="mb-0">I remember sitting at my desk at work with the list of registered social workers in my area that I found on the National Coalition of Adoption webpage and being completely terrified of calling. After a quick prayer I called a few places, hung up on some after a few rings and left voicemail for a few others. Silvi was the only professional who called me back.  Within 2 days of initiating the process of having Silvi work on my behalf with the Adoption Registrar I was able to have the records. During those 2 days Silvi consistently checked in with me not only with updates but also with supportive messages and encouragement. When I received the records, I appreciated that we (Silvi and I) went through it at my pace. There were days I would message her really early in the morning and she would chat with me. She was and has been a constant support, a listener and a voice of clarity in the midst of a sea of emotions I had to work through. I thank God that she returned my call.

				</p>
			  <footer class="blockquote-footer">A.A. <cite title="Source Title"></cite></footer>
	        </blockquote>
		</div>
	</div>
	
	
	
	
	
	<div class="row justify-content-center m-2">
		<div class="col-12 col-md-11 m-5 p-3 text-center border border-dark">
			<h3>
			License and Credentials
		    </h3>
			<p class="main text-center">Social Worker in Private Practice SAASWIPP no. 702352 
				<br>
					Accredited Adoption Practitioner SACSSP no. 10-07061
			</p>
			<p class="main text-center">B.Soc. Science (Social Work) // N.H.dip.Tech (Fine Art) // ATA Arts Therapy</p>
		</div>
	</div>
	
	<div class="row m-2 justify-content-center">
		<div class="col-12 col-md-11">
			<h6 class="reference heading pt-5">References</h6>
			<h6>	  
			<small class="text-muted">
			Malchiodi, C.A. 2008. Creative Interventions with Traumatized Children. New York: Guilford Press.</small>
			</h6>
		 </div>
   </div>
</div>

			   
<%- include("partials/footer") %>




