
 <%- include("partials/header") %>

        
<div class="container-fluid">
	
	<div class="row justify-content-around align-items-end">
		<div class="adoptiveParents col-12 col-lg-5 ml-md-5 mt-5">	
		</div>

		<ul class="col-12 col-md-9 col-lg-5" style="list-style: none">
			<li class="navHeading">Adoptive Parents Q&A</li>
			<li><a class="navHeading" href="#contactBirthParents">Should contact with my adoptive child’s birth parents take place?</a></li>	
			<li><a class="navHeading" href="#facingRejection">What if the process causes unnecessary pain and rejection?</a></li>
			<li><a class="navHeading" href="#trueParenting">What if I lose my child and they no longer see me as their true parent?</a></li>
		</ul>
	</div>
	

	<div class="row px-md-2 justify-content-center" >
		<div class="col-12" style="height:8rem">
		</div>
	</div>

    <div class="row px-md-2 justify-content-center" >
		<div class="col-12 col-md-9">
			<p class="topicHeading mb-3"><a id="contactBirthParents">Should contact with my adoptive child’s birth parents take place?</a></p>
		</div>
	</div>
	
	 <div class="row px-md-2 justify-content-center">
		<div class="col-12 col-md-9">
			<p class ="main mb-5">
Contact with a birth mother, especially when this is mediated by an experienced counsellor, is usually hugely beneficial. The opportunity is provided to acknowledge, validate and allow for any expressions of loss and answer unspoken and subliminal questions. Conversely, allowing a birth mother information can help ease a profound burden of guilt and grief. A lack of knowledge of the outcome and progress can be a prolonged mental torture for her (Coleman & Garratt, 2016).
			</p>
			<p class="topicHeading mt-lg-3 mb-3"><a id="facingRejection">What if the process causes unnecessary pain and rejection?</a>
			</p>
			<p class="main mb-5">
				As a parent, it is normal to want to shield your child from unpleasant information. However, there is a misconception that children can escape pain they do not remember. Whether or not your adoptive child has an explicit memory, there will always be an awareness of loss at some deep level. There is on some level always the question: “Why was I giveaway-able?” Joe Soll, a professor of psychology, himself adopted, reiterates this idea. He warns adoptive parents that “adoption is a life-long process” and, since bonding occurs between mother and child before, during and immediately after birth, their separation is something tangible and not to be brushed aside. Parenting an adoptive child, he writes, is to parent someone with unique needs.
			</p>	
	    </div>	
		<div class="col-10 col-md-8 mb-2">
			<blockquote class="blockquote text-center">
			  <p class="mb-0">Even if their paths never cross, the ghosts of the natural parents are always present in the adoptive family, and the ghosts of the child and the adoptive parents are always present in the birth family</p>
			  <footer class="blockquote-footer">Joe Soll in <cite title="Source Title">Adoption Healing... A Path to Recovery (2000)</cite></footer>
	      </blockquote>
	    </div>
		<div class="col-10 col-md-6 mb-5 my-lg-5">
			<img class ="img-fluid" src="/images/AdoptiveParents/ghosts.svg">
		</div> 
		 
		 <div class="col-12 col-md-9 mb-2">
			<p class="main mb-5">
Withholding information and avoiding frank discussion overlooks an adoptive child's need to know their birth and adoption story in an age appropriate way from the start. If this is kept secret a devastating sense of betrayal is felt on discovering inevitably that they were adopted. The keeping of a scrap book of continuing knowledge about his or her birth family can maintain a vital link with birth families. In order to help them in this healing process it is important to avoid distorting or sanitizing the truth. Lori Gottlieb, in the quote below explains, that withholding information as a way of protecting is a myth:			
			 </p>
		</div>
		 
		 <div class="col-11 col-md-8 mb-5">
			<blockquote class="blockquote text-center">
			  <p class="mb-0">Here’s something important to understand about family secrets: They’re rarely as secret as people think they are. Children especially are attuned to what’s unspoken in their households, in the sense that they “feel” the secret, even if they don’t know its content. The psychoanalyst Christopher Bollas wrote about what he called “the unthought known,” referring to something that a person knows on some level but can’t put into words. Secrets are like that: The child knows that there’s something to be known, but doesn’t know what</p>
			  <footer class="blockquote-footer">Lori Gottlieb in <cite title="Source Title">The Atlantic (2018)</cite></footer>
	      </blockquote>
		</div>

		<div class="col-12 col-md-9">
			<p class="main">
In the light of this insightful quote, we can see how outdated the consensus is that not telling the truth is a way of “protecting” them. It is in fact a profound breach of trust. To forbid a search or to deny a connection with their past could hinder their child's emotional maturity and quest for identity. It may directly negate or contradict their inner feelings and experiences. There also should never be the assumption that they only ask questions if they are unhappy with you. Natural curiosity is not an indication of failure as a parent.	</p>
			<p class="main mb-5">
				An adoptive parent should take care to avoid any verbal and non verbal message that criticizes or ignores birth parents, or tells the child they are “special”, “different” and “lucky they are adopted” in a way that places undue pressure or expectations that they must always be happy (Tartakovsky: 2018). For example, the child’s birthday is the anniversary of their separation from their birth mother and is often accompanied by mixed feelings. They should feel comfortable to reveal feelings of sadness or loss (Soll: 2000). 
			</p>
		</div>
		
		<div class="col-11 col-md-8 mb-4">
			<blockquote class="blockquote text-center">
			  <p class="mb-0">Warding off early pain leads to amnesia about one’s childhood. The thread to the child one once was is broken, leaving no trace of past experience. Consequently, the wounded person is unable to experience her own feelings because her capacity to feel is no longer available</p>
			  <footer class="blockquote-footer">Kathryn Asper<cite title="Source Title"></cite></footer>
	      </blockquote>
		</div>
		
		<div class="col-12 col-md-9 mb-5">
			<p class ="main">
If an adoptive child’s search is not validated and their “what ifs” are ignored, this can result in worsening and prolonging their sense of loss and grief (Logan & Smith: 2013, 125). Needless to say, it depends on their particular characteristics and circumstances. However, the majority of adoptees indicate that contact with their birth parents contributed towards their security (Logan & Smith: 2013, 28).
			</p>
		</div>
		 
		<div class="col-12 col-md-9  mb-5  ">
			<p class="topicHeading mt-lg-3 mb-3"><a id="trueParenting">What if I lose my child and they no longer see me as their true parent?</a></p>
			<p class="main">
			  A fear can exist with adoptive parents that their child's contact with birth parents will result in a connection that would supersede their own. However this fear should not cause them to discourage contact. Studies of adopted adults seeking contact with birth relatives, reveal the significance of genealogical information, the fulfilling of a need to form a complete sense of self, and the importance of developing a narrative that locates identity in genetics and social context (Logan & Smith: 2013, 47). Furthermore, contrary to common misconceptions about the outcome of adopted people making contact with their birth parents, the opposite effect is actually more common. Finding out about biological ties and their history does not typically change the parent-child relationship or make adoptive parents any less their “real” mother and father. Instead, researchers in adoption have found that post-adoption contact is beneficial for their relationship with their adoptive parents. There exists a need to identify with being adopted in order to properly heal, develop their identity and “come to terms with oneself in the context of the family and culture into which one was adopted" (Darnell et al.: 2017)
			</p>
			<p class="main">
			  Allowing post-adoption contact is a way of respecting both the birth mother and adoptive child’s experiences of loss. Of course it is not unproblematic and will involve painful feelings and memories. 
			</p>
		</div>
    </div>
			
	
	<div class="row justify-content-center">
		<div class="col-12 col-md-9 mb-5">
			<h6 class="reference heading pt-5">References</h6>
			<p><small class="text-muted">Coleman, P.K. & Garratt, D. 2016. From Birth Mothers to First Mothers: Toward a Compassionate Understanding of the Life-Long Act of Adoption Placement. Issues in Law & Medicine. 31(2):139–163. [Online], Available: https://ukzn.idm.oclc.org/login?url=http://search.ebscohost.com/login.aspx?direct=true&db=bth&AN=119547632&site=ehost-live&scope=site [2020, November 17].</small></p>
			<p><small class="text-muted">Darnell, F.J., Johansen, A.B., Tavakoli, S. & Brugnone, N. 2017. Adoption and Identity Experiences Among Adult Transnational Adoptees: A Qualitative Study. Adoption Quarterly. 20(2):155–166. [Online], Available: https://doi.org/10.1080/10926755.2016.1217574 [2020, November 17].</small></p>
			<p><small class="text-muted">Gottlieb, L. 2018. Dear Therapist: Should I Contact My Birth Mom? The Atlantic. 18 April. [Online], Available: https://www.theatlantic.com/family/archive/2018/04/dear-therapist-should-i-contact-my-birth-mom/558245/ [2020, November 11].</small></p>
			<p><small class="text-muted">Logan, J. & Smith, C. 2003. After Adoption: Direct Contact and Relationships. London ; New York: Routledge.</small></p>

			<p><small class="text-muted">Soll, J. 2000. Adoption Healing ...a path to recovery. Second edition ed. Baltimore, MD: Adoption Crossroads.</small></p>
			<p><small class="text-muted">Tartakovsky, M. 2018. How to Tell Your Child They’re Adopted. [Online], Available: https://psychcentral.com/lib/how-to-tell-your-child-theyre-adopted/ [2020, November 17].</small></p>
		 </div>
	</div>
	
</div>
	
<%- include("partials/footer") %>

