<%- include("partials/header") %>

<div style="height:6rem; width:100%">
</div>

<div class="container-fluid">
	<div class="row justify-content-around align-items-end">
		<div class="adoptee col-12 col-md-9 col-lg-5 mt-md-5">	
		</div>
		<ul class="col-12 col-md-9 col-lg-6 px-lg-5 mt-5" style="list-style: none">
			<li class="navHeading">Adoptee Q&A</li>
			<li><a class="navHeading" href="#contactBirthParents">Should I seek contact with my birth mother or father?</a></li>	
			<li><a class="navHeading" href="#facingRejection">What if I am rejected for the second time?</a></li>
			<li><a class="navHeading" href="#offendingParents">What if I offend my adoptive parents?</a></li>
			<li><a class="navHeading" href="#age">How old do I have to be to access my adoption records?</a></li>
			<li><a class="navHeading" href="#findBirthParents">How do I find my biological parents or relatives?</a></li>
			<li><a class="navHeading" href="#reunionEtiquette">I found my birth mother, now what?</a></li>
			<li><a class="navHeading" href="#respond">How do I respond to contact from a birth relative?</a></li>
			<li><a class="navHeading" href="#processAdoptionTrauma">How do I process attachment / abandonment trauma as an adoptee?</a>
	    </ul>
    </div>

    <div class="row px-md-2 justify-content-center">
		<div class="col-12" style="height:8rem">
		</div>
		<div class="col-12 col-md-9 mb-2 mt-lg-5">
			<a id="contactBirthParents"><p class="topicHeading">Should I seek contact with my birth mother or father?</p></a>
		</div>
		<div class="col-12 col-md-9 mb-2">
			<img class="img-fluid" src="/images/Adoptee/adrun.svg" style="width: 100% \9">
		</div>
    </div>
		
	<div class="row justify-content-center">
		<div class="col-12 col-md-9 mb-5">
			<p class="main">
				In an article for The Guardian (2020), the Australian philosopher, Eleanor Gordon-Smith, describes seeking an estranged birth relative as “a constant push-pull between wanting to come closer to and wanting to retreat”. Any adoptees who has wondered whether or not they should contact their birth mother or father can relate. There is a constant tension between forgiving and understanding through adult eyes how some of the mistakes made by your birth parents were possible, and the angry inner child  “who has a thwarted need that only the parent can satisfy” (Gordon-Smith, 2020). In the article, Gordon-Smith is giving advice to a reader who wrote in asking whether or not they should make contact with their father, whom they had never met, who left her mother before they were born and never offered anything by way of support. Gordon-Smith writes:
			</p>
        </div>
		<div class="col-11 col-md-8  mb-5">
			<blockquote class="blockquote text-center">
				  <p class="mb-0">Not all family is good, and not all family is kind. If your family is good and kind then it makes sense to be good and kind to them, but if a family member has not been good to you then there’s no special gilding to the fact that they are family.</p>
				  <footer class="blockquote-footer">Eleanor Gordon-Smith in <cite title="Source Title">The Guardian 2020</cite></footer>
	        </blockquote>
		</div>	
		<div class="col-12 col-md-9 mb-5">
	        <p class="main" style="text-align:justify"> She debunks any unnecessary feelings of obligation, warns that it may not go as hoped and most importantly, reiterates that their response, is not an indication of your self worth
			</p>
		</div>
		<div class="col-11 col-md-8 p-xs-5 mb-5">
	       <blockquote class="blockquote text-center">
			  <p class="mb-0">I know many people who have reached out to estranged or separated relatives in their middle age. Sometimes it goes well with hugs and tears all round. But sometimes the relatives are still miserable people, and it isn’t a reflection on you if that’s how it goes. If another rejection from this man would spoil some of the time you get on earth, you don’t owe him your time or your forgiveness simply because he’s your dad. </p>
			  <footer class="blockquote-footer">Eleanor Gordon-Smith in <cite title="Source Title">The Guardian 2020</cite></footer>
	      </blockquote>
		</div>
		<div class="col-12 col-md-9 mb-5">
			<p class="topicHeading mt-lg-5"><a id="facingRejection"> What if I am rejected for the second time?</a></p>
			<p class="main">
				Gordon-Smith’s reminder that rejection “it isn’t a reflection on you” is one of the most important things to remember. You were not placed in adoption because you weren’t good enough, but perhaps your parents were, and are still  not, ready to be parents. The traumatic experience of losing a mother in childhood leaves its mark. We piece ourselves together with duct tape as a survival strategy but there is often still on some deep level a sense of feeling unworthy and undeserving. This makes it hard for adoptees to believe that the process of finding parents can bring any healing or redemption to this wound. 
			</p>
			<p class="main">
				However, I would encourage anyone seeking contact that (whether or not you meet your biological parents) the process can bring clarity to an obscure past and it is not something that you will regret. For many people, not knowing produces many fears, fantasies and feelings of emptiness (Justin, 2014: 26). Therefore, where there is a sharing of the truth, even if it is hard, this can bring healing. It will cause many suppressed emotions to rise to the surface, and this is good! Sometimes the only way to heal is to dive deep into pain and with compassion and vulnerability, allow  these feelings to speak. What are you afraid of? What do you need? How can you learn to trust your instinct? To trust others? Joe Soll (who has worked as a therapist with adopted children, adolescents  and  adopted adults for eighteen years, and is himself  adopted) writes that it his “firm belief” that a “reunion between the adoptee and natural mother” is a major step in healing the wounds of adoption.
			</p>
        </div>
		<div class="col-11 col-md-8 mb-5">
	       <blockquote class="blockquote text-center">
			  <p class="mb-0">Maybe your birth mom will want to meet you but won’t want her family to know. Maybe she’ll welcome you with open arms. Maybe she won’t want contact at all. Maybe you’ll meet once, or maybe you’ll have an ongoing relationship. Whatever happens, it will likely be less of a resolution than the start of a new chapter—an important one. It will help you to weave the meaning of the adoption, your life after the adoption, and this new plot twist into your evolving story, which is yours of course, but also a legacy you’ll pass down</p>
			  <footer class="blockquote-footer">Lori Gottlieb in <cite title="Source Title">The Atlantic 2018 </cite></footer>
	      </blockquote>
		</div>
		<div class="col-12 col-md-8 mb-5">
	       <blockquote class="blockquote text-center">
			  <p class="mb-0">Have you ever thought about grief (or anger, or discouragement) as something that could be right and important? Even if you  could  not fix the problem? It cuts against every instinct in us, doesn’t it? Yet sadness, anger, dismay, and even fear have a good and right place. Most of us are deeply uncomfortable with negative feelings and assume something is wrong with us whenever we do feel sad or mad or bad</p>
			  <footer class="blockquote-footer">J. Alasdair Groves in <cite title="Source Title">Untangling Emotions 2019 </cite></footer>
	      </blockquote>
		</div>
		<!-- <div class="col-12 col-md-11 mb-5">
	       <p class="main"> For more information on how to process attachment/abandonment trauma as someone who is adopted<a class="bold" href="#processTrauma"> click here </a>
			</p>
		</div>
		 -->
		<div class="col-12 col-md-9 mb-5">
			<p class="topicHeading mt-lg-5"><a id="offendingParents">What if I offend my adoptive parents?</a></p>
			<p class="main">
You may feel concerned that searching for your biological parents is offensive or disloyal to your adoptive parents. However, be encouraged that as someone who is adopted, it is normal to want to find out about your birth family. You might be seeking answers to questions such as: What was my birth mother like? Why did she place me in adoption? Who else shares my genes and characteristics… Begin by thanking and honouring your parents and explain to them that contact with your birth family does not mean that you want to replace them but rather to gain a sense of your story.</p>
			<p class="main">
Saying something like this: “I’ve stumbled upon this information, and I didn’t realize it would be so meaningful to me. Especially now that I’m a parent myself, I’m realizing that I want to fill in some of these gaps in my heritage. I know this may be a lot to absorb for all of us, but I want you to know that I already have parents—you guys—and that’s not going to change. I haven’t figured out how I want to act on this information yet, but I want you to be a part of this process with me” (Gottlieb, 2018). </p>
		</div>
		<div class="col-12 col-md-5 mb-5">
			<img src="/images/Adoptee/adtellingparents.svg" class="image img-fluid mx-0">
		</div>
		<div class="col-12 col-md-9 mb-5">
			<p class="main">
Perhaps you are afraid to ask questions, perhaps you are too long in the habit of repressing your own feelings, and taking care of everyone else’s feelings, but it is okay to put your needs first and to ask for help (Gottlieb, 2018). Florence Fisher, in her autobiography The Search For Anna Fisher (1975), describes her twenty year hunt through official birth and death records, newspaper and morgues to create her own genealogy chart of a family she'd never met. She explains: "I was looking for a little light. Light that might lead me back twenty years. To what? To my origins, to my history. To two people, perhaps. To something called the truth" (74). Betty Jean Lifton, in her memoir, Twice Born (1975) writes that due to the absence of the past: "I saw my naked face.... [I]t seemed my features were missing; I was looking into an unmarked map". These writers challenge the system of sealed records, and establish  the primacy of a psychological "need to know” (Jill, 2001). Everyone has a right to know their story and it did not begin when they met their adoptive parents. Sadly, many adopted people are discouraged and told it is best leave the past. They are left with only obscure fragments of a distorted and sanitized truth. </p>
        </div>
		<div class="col-12 col-md-9 mb-5">
			<p class="topicHeading mt-lg-5"><a id="age">
				How old do I have to be to access my adoption records?</a>			
			</p>
			<p class="main" style="text-align:justify">According to South African legislation, An adopted person can searching for their biological parents when 18 years of age (the older act is age 21 ). Accessing your adoption records is a right. 
			</p>
		</div>
		
		<!-- <div class="col-md-9 col-lg-8  p-xs-5 mb-5">
	       <blockquote class="blockquote text-center">
			  <p class="mb-0">To  love  at  all  is  to  be  vulnerable.  Love  anything  and  your  heart will be wrung and possibly broken. If you want to make sure of keeping it intact you must give it to no one, not even an animal</p>
			  <footer class="blockquote-footer">C.S Lewis in <cite title="Source Title">The Four Loves 1960 </cite></footer>
	      </blockquote>
		</div> -->
		
		<div class="col-12 col-md-9 mb-5">
			<p class="topicHeading mt-lg-5"><a id="findBirthParents">How do I find my biological parents or relatives in South Africa?</a></p>
			<p class="main">Contact the Registrar of Adoptions at the Department of Social Development Pretoria  (012 312 7600 ThembiMat@dsd.gov.za) to request access to your birth and adoption information. They will require a copy of your ID, a letter stating your adoptive parents name, the year of adoption, and your birth parents surname (if known). If an adoption social worker is requesting your file you must provide written permission for them to do so. They will request the file from the archive and the file is reviewed by a social worker before being scanned and sent.
			</p>
		</div>
	
		<div class="col-12 col-md-9">
			<a id="reunionEtiquette"><p class="topicHeading mt-lg-5">I found my birth mother, now what?</p></a>
			<ul class="main">
				<li class="topicHeading">Finding an intermediary
					<p class="main">
						Arrangements for post-adoption contact should be mediated by a third party. Contacting your birth mother directly can result in unnecessary shock and rejection. She needs space and time to adjust to the information and discretion in case she has not told her subsequent family about the adoption.
					</p>
				</li>
				<li class="topicHeading">Reunion étiquette
					<p class="main">
						Usually the first contact would entail the exchange of letters and a photograph, progressing to a short phone call and then a meeting. It is best to start contact gradually and to get to know each other via Whats App and email or phone calls. At the first meeting, it is best not to overwhelm your birth parent by including many family members. It is also important not to neglect your current partner and family.
					</p>
				</li>
				<li class="topicHeading">Pre-reunion counselling
					<p class="main">
						Searching for a birth relative can be painful and perplexing and so self-reflection and counselling are a crucial part of the process. Pre-reunion counselling can help you find a way to express anger safely, get a better sense of your expectations and prepare you for any different outcomes. Adopted people are often too placatory and need encouragement and advice on how to be more assertive and to consider their own needs.
					</p>
					<p class="main mb-5">
						It is best to accept that it probably won’t be smooth sailing and the initial contact might be followed by long silences. This can be devastating. Another disconcerting challenge is the sometimes strong physical attraction that can occur between siblings/close relations that have grown up apart from one another. Forewarned is forearmed.
					</p>
				</li>
			</ul>
		</div>	
	</div>	
	
	<div class="row justify-content-center align-items-center">
		<div class="col-12 col-md-9 mt-lg-5">
			<a id="respond"><p class="topicHeading">How do I respond to contact from a birth relative?</p></a>
			<p class="main">
				If a birth family member seeks contact with you, it can bring up many mixed feelings such as shock, unease, and anger, and, without realizing it, “the little you” that felt rejected begins speaking the loudest (Hassler, 2019). Perhaps contact is something you never gave much consideration to before and now it seems unappealing and disruptive to  everyday life. You may fear “losing the self you know and understand” or learning something unpalatable, such as being told you were conceived by rape or incest (Justin, 2014: 22). You may feel as if it will open up a can of worms and you will never get to the other side of all the emotions that are coming up. Processing all these feelings may be overwhelming and painful in the short term, however, in the long term it will bring more freedom, self awareness and help you to reframe your adoption.
			</p>
			<ul class="main mb-5">
				<li>Ask for information first about family members and take time to read it</li>
				<li>Think about what type of contact you would like to have. Your family member will have to accept the level of contact that you feel comfortable with — if that is just writing a letter with some photos and you are not ready to meet face to face, that is okay.</li>
				<li>Spend some time journaling and processing your feelings. </li> 
				<!-- For more information processing attachment abandonment trauma as an adoptee <a href="#processTrauma">click here.</a> -->
				<li>Find a specialist trained in infant trauma, somatic therapy, or adoption counselling, and look for a support group</li>
			</ul>
		</div>
		<div class="col-12 col-md-5 mb-5">
           <img src="/images/Adoptee/adcontact.svg" class="image img-fluid">
		</div>
   </div>

	
	<div class="row justify-content-center align-items-center">
		<div class="col-12 col-md-9 mt-lg-5">
			<a id="processAdoptionTrauma"><p class="topicHeading">How do I process attachment trauma as an adoptee?</p></a>
		</div>
		<div class="col-md-5 p-2 ml-4 ">
			<img class="image img-fluid" src="/images/Adoptee/adcounselling.svg">
		</div>
    </div>
		
	<div class="row justify-content-center align-items-center">
		<div class="col-12 col-md-9 mb-5">
			<p class="main">
				A starting point is to imagine the emotional climate inherited from two sets of parents. On the one hand, your adoptive parents who perhaps struggled to conceive, and on the other hand, a stressed-out birth mom who lacked emotional or material resources to raise you. It may be harder to appreciate how birth parents who are strangers may have impacted you. However, recent trauma and in utero studies indicate that a bonding and sharing of emotions begins well before birth. The idea that small babies remember nothing is no longer held by those working with trauma. Babies experience the loss of their mother no matter when it occurs.
			</p>
			<p class="main">
				Unfortunately, as an adoptive child these feelings may be suppressed when faced with “society’s insistence that we show joy, gratitude, and luck” with our situation (Latty, 2016). However, this is an unnatural response to loss - after death, no one is “expected to behave as though it was the best thing that ever happened to you”, and therefore those expectations should not be placed on young adopted children (Latty, 2016).
			</p>
			<p class="main">
				When the trauma of been separated from a birth mom is never acknowledged or expressed, it remains buried at a pre-verbal level. Hence, adopted people describe an ambiguous and haunting sense of rejection, along with an inexplicable feeling that there is something missing or misplaced. There is often a feeling of "being giveaway-able" even if rationally you understand that your mother was young, experiencing censure and was without support. Some have referred to this phenomenon as the ‘primal wound’ or as “attachment or abandonment trauma”.
			</p>
			<p class="main">
				The dormant trauma will never simply resolve itself or just disappear overtime; instead it continues long into adulthood informing and motivating emotional decisions as an unconscious bias. It is common to have difficulty in trusting people or a feeling of disconnect.
			</p>
        </div>
		
		<div class="col-12 col-md-8 mb-5">
			<blockquote class="blockquote text-center">
			  <p class="mb-0">Something can lie dormant most of one's life. If it erupts in childhood, adolescence, or early adulthood and is dismissed as neurotic behaviour or normal rebellion , it can subside into numbness or it can stir malignantly in some adopted people all their lives, making them detached, floating, unable to love or to trust: loners.</p>
			  <footer class="blockquote-footer">Betty Jean Lifton in <cite title="Source Title">Twice Born (1975)</cite></footer>
	      </blockquote>
		</div>
		
		<div class="col-11 col-md-8  mb-5">
			<blockquote class="blockquote text-center">
			  <p class="mb-0">Adoption loss is an ambiguous loss. While it changes shape over time, it is often life-long. It is without end. I have lost my entire family and yet, there are no bodies to bury, no socially acceptable ritual or process meant for me to understand this loss and how to live with it. My mother went on living, became someone else’s mother, while I lived my young life with only the presence of her absence and the fracturing unknown. Maybe she’s alive; maybe she’s dead. Maybe she loves me; maybe she has forgotten me. Maybe anything.</p>
			  <footer class="blockquote-footer">Liz Latty in <cite title="Source Title">What We Lost: Undoing The Fairy Tale Narrative Of Adoption (2016)</cite></footer>
	      </blockquote>
		</div>	
		
		<div class="col-12 col-md-9 mb-5">
	        <p class="main">
				There is no reason for the afore-going to ruin or rule your life. Many adopted people are able to find wholeness and embrace their status of being adopted as an empowering part of their past and future. Healing begins by acknowledging the difficult parts of yourself and allowing them to speak in a safe environment. It is as simple as asking the people in your life for what you need. Seek a specialist trained in infant trauma, be more vulnerable with people you feel close too and ask for space to express. Begin by journalling and creating words or images that express your journey. Although seeking out these hidden emotions may be initially terrifying, it doesn't have to be a hellish process. Once we can as adults form a response that was not possible to us as a child we can begin to heal our inner child (Soll, 2000).
			</p>
		</div>
		
		
		<div class="col-10 col-md-5 mb-5">
			<img src="/images/Adoptee/adjournals.svg" class="image img-fluid">
		</div>
		
		
		
		<div class="col-12 col-md-8  mb-5 mt-lg-5">
			<blockquote class="blockquote text-center">
			  <p class="mb-0">Being adopted is something that is intrinsic to my being and I am hurt when others attempt to de-emphasize this aspect of my life, because it is something that I see as so fundamental to who I am.</p>
			  <footer class="blockquote-footer">Darnell (2017)<cite title="Source Title"></cite></footer>
	      </blockquote>
		</div>	
		
		<div class="col-12 col-md-8  mb-5">
			<blockquote class="blockquote text-center">
			  <p class="mb-0">They always say time changes things, but you actually have to change them yourself</p>
			  <footer class="blockquote-footer">Andy Warhol<cite title="Source Title"></cite></footer>
	      </blockquote>
		</div>	
		
		<div class="col-12 col-md-8  mb-5">
			<blockquote class="blockquote text-center">
			  <p class="mb-0">Healing is the application of love to the places that got hurt</p>
			  <footer class="blockquote-footer">Christine Hassler<cite title="Source Title"></cite></footer>
	      </blockquote>
		</div>		
	</div>
	
	<div class="row justify-content-center">
		<div class="col-12 col-md-9">
			<h6 class="reference heading pt-5">References</h6>  
			<p><small class="text-muted">Alasdair Groves, J. 2019. Untangling Emotions. Illinois: Crossway.</small></p>
			<p><small class="text-muted">Darnell, F., Johansen, A., Tavakoli, S. & Brugnone, N. 2017. Adoption and Identity Experiences Among Adult Transnational Adoptees: A Qualitative Study. Adoption Quarterly. 20(2):155–166. [Online], Available: https://doi.org/10.1080/10926755.2016.1217574 [2020, November 17].</small></p>
			<p><small class="text-muted">Deans, J. 2001. Performing the Search in Adoption Autobiography: Finding Christa and Reno Finds Her Mom. Biography. 24:85–98.</small></p>
			<p><small class="text-muted">Fisher, F. 1973. The Search for Anna Fisher. 1st edition ed. New York: A. Fields Books.</small></p>
			<p><small class="text-muted">Gordon-Smith, E. 2020. Leading questions: “Should I make contact with my father, whom I have never met?” The Guardian. 2 July. [Online], Available: https://www.theguardian.com/lifeandstyle/2020/jul/02/leading-questions-should-i-make-contact-with-my-father-whom-i-have-never-met.</small></p>
			<p><small class="text-muted">Gottlieb, L. 2018. Dear Therapist: Should I Contact My Birth Mom? The Atlantic. 18 April. [Online], Available: https://www.theatlantic.com/family/archive/2018/04/dear-therapist-should-i-contact-my-birth-mom/558245/ [2020, November 11].</small></p>
			<p><small class="text-muted">Grieco, H. 2020. Finding the missing piece: What happens when adoptees become parents. The Washington Post. 1 May. [Online], Available: https://www.washingtonpost.com/lifestyle/2020/05/01/finding-missing-piece-what-happens-when-adoptees-become-parents/.</small></p>
			<p><small class="text-muted">Hassler, C. 2019. [Online], Available: https://christinehassler.com/2018/07/148-the-power-of-masculine-vulnerability-with-nicholas/.</small></p>
			<p><small class="text-muted">Justin, H. 2014. Adoption Issues. Australia: The Spinney Press. [Online], Available: https://ebookcentral.proquest.com/lib/ukzn-ebooks/detail.action?docID=688703.</small></p>
			<p><small class="text-muted">Latty, L. 2016. What We Lost: Undoing The Fairy Tale Narrative Of Adoption. The Rumpus.net. (November, 17). [Online], Available: https://therumpus.net/2016/11/forced-into-fairy-tales-media-myths-and-adoption-fallacies/ [2020, November 11].</small></p>
			<p><small class="text-muted">Lewis, C.S. 2017. The Four Loves. Reissue edition ed. San Francisco: HarperOne.</small></p>
			<p><small class="text-muted">Lifton, B.J. 1824. Twice Born: Memoirs of an Adopted Daughter. Mcgraw-Hill.</small></p>
			<p><small class="text-muted">Soll, J. 2000. Adoption Healing ...a path to recovery. Second edition ed. Baltimore, MD: Adoption Crossroads.</small></p>
			<p><small class="text-muted">Verrier, N.N. 2003. The Primal Wound: Understanding the Adopted Child. California: Gateway Press.
			</small></p>
		 </div>
	</div>

</div>





<%- include("partials/footer") %>
