
 <%- include("partials/header") %>

<div class="container">
	<div class="row px-md-2 justify-content-center">

		<div class="col-12" style="height:8rem">
		</div>
		<div class="col-9 mb-5 ml-lg-5 pl-lg-5">
			<img src="images/Landing/child.jpg" class="img-fluid">
		</div>
		<div class="col-12 col-md-9 mb-2 mt-lg-5">
			<p class="topicHeading">Arts therapy & Adoption</p>
		</div>
	</div>
	
	 <div class="row px-md-2 justify-content-center">
		<div class="col-12 col-md-9 mb-5">
			<p class ="main">
				There are some traumas (such as the loss of a mother that a child experiences) that we may not be capable of conceptualizing and remembering. When words fail, we can pursue abstract images and concepts to reconfigure, negotiate and articulate and mourn these memories. In essence, this is arts therapy.</p>		  
			<p class="main">
				As Dora Osborne (2013: 23) explains, if a past experience has been violent or overwhelming, our ability to remember what happened in any meaningful sense may be impaired. These memories are buried in our unconscious— the part of the mind which holds a reservoir of suppressed thoughts, automatic reactions and hidden desires. When psychic trauma is stored in the unconscious or implicit memory, verbal semantic therapy is not always suitable or effective. Art and play, are non-verbal and ritualistic ways of creating a bridge between the conscious and the unconscious for the purpose of internalizing and exorcising painful memories. When we reflect on the art we have produced it builds greater self awareness, brings healing to the psyche and restores meaning to the person, through the sensory, symbolic and metaphoric.
			</p>
			<p class="main">
				According to Virginia Axline, the structures of our personality may keep rearranging into unique patterns like a kaleidescope. There is always potential for growth, change and reintegration, even when this drive for change has been blocked by life’s experiences. We may need help to integrate all the experiences in our life and develop enough self confidence to bring our “self concept out of the shadow land”. Art Therapy is uniquely placed to help a person’s own drive to wholeness: to help them to be constructive, productive and live life directly and not vicariously in an inner world.
			</p>
		</div>
		<div class="col-12 col-md-8 mb-4">
			<blockquote class="blockquote text-center">
			  <p class="mb-0">We are shut up within ourselves, with an itch to get outside ourselves [..] Art is a momentary relaxation from that itching</p>
			  <footer class="blockquote-footer">John Galsworthy in <cite title="Source Title">Vague Thoughts on Art (2013)</cite></footer>
	      </blockquote>
	   </div>
	</div>
		 
	<div class="row justify-content-center">
		<div class="col-12 col-md-9 mb-5">
			<h6 class="reference heading pt-5">References</h6>
			<p><small class="text-muted">Axline, V.M. 1981. Play Therapy: The Groundbreaking Book That Has Become a Vital Tool in the Growth and Development of Children. Illustrated edition ed. New York: Ballantine Books.</small></p>
			<p><small class="text-muted">Galsworthy, J. HardPress. 2013. Vague Thoughts on Art. Ireland: Hardpress Limited.</small></p>
			<p><small class="text-muted">Osborne, D. 2013. Traces of Trauma in W. G. Sebald and Christoph Ransmayr. London: Routledge.</small></p>
		 </div>
	</div>
	
</div>
	
<%- include("partials/footer") %>

