
 <%- include("partials/header") %>

<div class="container-fluid">
	<div class="row justify-content-around align-items-end">
		<div class="balloon col-12 col-lg-6">	
	    </div>

		<ul class="col-12 col-md-9 col-lg-6 mb-5" style="list-style: none">
			<li class="navHeading">Birth Parents Q&A</li>
			<li><a class="navHeading" href="#contactAdoptedChild">Should I seek contact with the child I placed in adoption?</a></li>	
			<li><a class="navHeading" href="#talkToYourAdoptedChild">What should I say to the child I placed in adoption?</a></li>
			<li><a class="navHeading" href="#grievingLoss">How do I grieve the loss of my child as a birth parent?</a></li>	
			<li><a class="navHeading" href="#findingLostRelatives">How do I find the child I placed in adoption?</a></li>
		</ul>
	</div>

	<div class="row px-0 px-md-2 justify-content-center" >
		<div class="col-12" style="height:8rem">
		</div>
	</div>
	
	<div class="row px-0 px-md-2 justify-content-center" >
		<div class="col-12 col-md-9 mb-2 mt-lg-5">
			<p class="topicHeading">
				<a id="contactAdoptedChild">Should I seek contact with the child I placed in adoption?</a>
			</p>
		</div>
	</div>
	
	 <div class="row px-0 px-md-2 justify-content-center">
		<div class="col-12 col-md-9 mb-5">
			<p class ="main">
				Contact with the child you placed in adoption can be redemptive and healing, providing opportunity to explain your reasons for choosing adoption and a sense of closure to discover how they doing and their circumstances. A reunion often results in a huge burden of shame and guilt being lifted off your shoulders. It can be the first time to hear news that your child was well adjusted and established. Often adopted people are grateful for the opportunity to grow up in a stable family and contrary to your fear, hold no ill will towards you. Of course it does not always go well or smooth as it is a difficult relationship, but there is nearly always a sense of closure and relief for both parties.
			</p>
			<p class="main">
				Although I use the word mother, the same applies to fathers who are seeking or wanting contact with the child they placed in adoption.
			</p>
		</div>	
			
				
		<div class="col-12 col-md-9 mb-5">
			<p class ="main">
				It is important to read up about adoption, receive counselling or attend a support group to  prepare prior to reunion. It often helps to clarify if there was anything amiss in the process. Was there coercion? A lack of information? Were your rights explained? Current adoptions strive to make sure that all options are explored and all the facts and your rights - both legal and otherwise - are made known. Sadly, supporting a mother was not always the focus of social services. If you were given no choices, no offer of a place to live, and no help, then your experience of surrendering baby might have been a “gun to the head" due to bad faith, a conflict of interest, coercion or thought reform tactics (Soll, 2000). This constitutes unfair and unjust treatment. The pressure and motivation for adoption should never be the shame and condemnation of 'illegitimacy'.
			</p>
		</div>
		
		<div class="col-11 col-md-8 mb-2">
			<blockquote class="blockquote text-center">
			  <p class="mb-0">FRACTURING is an acronym for the simultaneous feelings that the newly exiled mother is surrounded by: Frustration, Rage, Anxiety, Confusion, Terror, Unrest, Regret, Inhuman, Neglected, Grief</p>
			  <footer class="blockquote-footer">Karen Buterbaug in <cite title="Source Title">Adoption Healing... A Path to Recovery for Mothers Who Lost Children to Adoption (2003)</cite></footer>
	      </blockquote>
	   </div>
		 
		 <div class="col-12 col-md-9 mb-2">
			<p class="main">
				Perhaps there was no pressure or coercion, you simply were not able to parent. Biological amily isn't always automatically better than a carefully screened family. If you were not able to parent due to your circumstances such as extreme youth, lack of support, illness/disability-physical or psychological, addiction, domestic abuse or economic straits - this can be your choice to place your baby in a family. In this way you provide for the care and stability that you so desire for them but sadly and realistically they would not receive if you tried to parent. It is a devastatingly hard but unselfish decision.
			</p>
		</div>
		 
		 <div class="col-12 col-md-9 mb-5">
			<blockquote class="blockquote text-center">
			  <p class="mb-0">"I did not “give him up” or “give him away.” Placing him was one of the hardest things I have ever done...I knew that he needed to be with his parents to live out the life I had imagined he would have. I was not a failure because I put his needs above my own and that is what any mother would do for her child. I placed my birth son. I did not give up or give away. No one gave up on him. Love and prayer surrounded him before he was born. He was unplanned but not unwanted.</p>
			  <footer class="blockquote-footer">Sierra Kilpatrick in <cite title="Source Title">I Did Not Give Up My Baby (2014)</cite></footer>
	      </blockquote>
		</div>

		<div class="col-11 col-md-9 mb-2">
			<p class="main">
				Counselling and therapy before meeting your child is extremely important for those for whom the trauma remains fresh years later. The unresolved trauma that the meeting may trigger could result in a type of reappearance of the young traumatized mother you once were. Your adopted child (although also bringing a hurt inner child to the reunion) is quite likely to be approaching the meeting to a greater extent as an adult. The scenario of an emotional minefield is set as explained in this quote:
			</p>
		</div>
		
		<div class="col-12 col-md-8 mb-5">
			<blockquote class="blockquote text-center">
			  <p class="mb-0">Sadly,……..the mother who reconnects with her child is this young, traumatized mother who was never allowed to talk about her feelings of loss and grief. Because surrender was forced upon her, and because it was mandatory that she hide and bury her true thoughts and feelings, she was, and continues to be, emotionally constructed to fail in reunion. For some the denial was deeper and therefore delayed reactions such as grief and anger are stronger. In others, grief was immediate and less repressed. Our stories of surrender are varied, but for one in three they are the same: we were separated from our babies, the trauma of our loss is not going away</p>
			  <footer class="blockquote-footer">Karen Buterbaug in <cite title="Source Title">Adoption Healing... A Path to Recovery for Mothers Who Lost Children to Adoption (2003)</cite></footer>
	      </blockquote>
		</div>
		
		<div class="col-10 col-md-9 mb-5 my-lg-5">
			<img class ="img-fluid" src="/images/BirthParents/bird.svg">
		</div>
		
		<div class="col-12 col-md-9 mb-2">
			<p class ="main">
Therefore,  before anything, it is vital to begin by acknowledging and validating the loss you feel in order to work through the grief process.
			</p>
		</div>
	
  </div>
		
 <div class="row px-0 px-md-2 justify-content-center" >
		<div class="col-lg-12" style="height:5rem">
		</div>
		<div class="col-12 col-md-9 mb-2 mt-lg-5">
			<a id="grievingLoss"><p class="topicHeading">
               How do I grieve the loss of my child as a birth parent?</p></a>
		</div>
    </div>

		
	<div class="row px-0 px-md-2 justify-content-center" >
		<div class="col-12 col-md-9 mb-5">
			<p class ="main">
Combining the creative process and therapeutic relationship with your counsellor will bring healing to the psyche and reprocess pain. Hold a ritual marking or commemorating the loss of your child. Plant a memorial garden, write a poem, release beautiful sky lanterns or balloons, take photos of something in nature that helps you feel closer to your child (light, butterflies, flowers, dragonflies), celebrate their birthday in a big or small way, write a letter to them or light a candle for them (Warren, 2016).</p>
		</div>
	</div>
	
	<div class="row m-2 p-md-5 m-md-5 justify-content-center">
		<div class="col-12 col-md-6 col-lg-4">
			<img src="/images/BirthParents/fireworks.svg" class="img-fluid">
		</div>
		<div class="col-8 col-md-6 col-lg-4">
			<img src="/images/BirthParents/garden.svg" class="img-fluid">
		</div>
		<div class="col-12 col-md-6 col-lg-3">
			<img src="/images/BirthParents/dragonfly.svg" class="img-fluid">
		</div>
		<div class="col-7 col-md-6 col-lg-2">
			<img src="/images/BirthParents/candle.svg" class="img-fluid">
		</div>
		<div class="col-12 col-md-6 mb-5 col-lg-4">
			<img src="/images/BirthParents/present.svg" class="img-fluid">
		</div>
	</div>

	<div class="row px-0 px-md-2 justify-content-center">	
		<div class="col-10 col-md-9 mb-5">
	       <p class="main"> For more information on art therapy<a class="bold" href="#artTherapy"> click here </a>
			</p>
         </div>
     </div>
	
	<div class="row px-0 px-md-2 justify-content-center">	
		<div class="col-11 col-md-8 mb-5">
			<blockquote class="blockquote text-center">
			  <p class="mb-0">If therapy is being attentive to what is going on in the depths of our soul and searching for what the sadness has to teach us, there is a particular role for art and creativity</p>
			  <footer class="blockquote-footer">Thomas Moore in <cite title="Source Title">Dark Nights of the Soul (2005)</cite></footer>
	      </blockquote>
		</div>
		<div class="col-11 col-md-8 mb-2">
			<blockquote class="blockquote text-center">
			  <p class="mb-0">Inner child is the name given to represent the hurt child of the past
…….
Inner child work is way of accessing the unconscious mind to change those old memories</p>
			  <footer class="blockquote-footer">Joe Soll in <cite title="Source Title">Adoption Healing... A Path to Recovery for Mothers Who Lost Children to Adoption (2003)</cite></footer>
	      </blockquote>
		</div>	
	</div>
	
	
	<div class="row px-0 px-md-2 justify-content-center">
		<div class="col-lg-12" style="height:5rem">
		</div>
		<div class="col-12 col-md-9 mt-lg-5">
			<p class="topicHeading">
				<a id="talkToYourAdoptedChild">What should I say to the child I placed in adoption?</a>
			</p>
		</div>
		<div class="col-12 col-md-9">
			<p class ="main">
There are certain questions that the child will want to know about why they were adopted. The most important thing is to say “you were loved and I've never stopped thinking of you”. Also it is good to say I'm so sorry that I wasn't in a position to raise you myself” You are virtual strangers so keep very sad details for later. It is also important to add that you don't want to interfere in their lives in anyway and will accept what decision they make regarding contact. Address them by their new name if you know it or birth name, and when signing a letter, sign it with your name, do not begin by addressing it to my son/daughter from your mother.		
			</p>
			<p class="main">
				A sometimes overlooked complication in reunions between closely related people who have not grown up together is a strong attraction. This is most disconcerting but forewarned is forearmed. The official term is GSA. Genetic Sexual Attraction.
			</p>
		</div>
	</div>
	
	<div class="row px-0 px-md-2 justify-content-center">
		<div class="col-lg-12" style="height:5rem">
		</div>
		<div class="col-12 col-md-9 mb-2 mt-lg-5">
			<p class="topicHeading">
				<a id="findingLostRelatives">How do I find the child I placed in adoption?</a>
			</p>
		</div>
		<div class="col-12 col-md-9 mb-5">
			<p class ="main">
				Contact the Registrar of Adoptions at the Department of Social Development Pretoria  (012 312 7600 ThembiMat@dsd.gov.za). Birth parents may only request the file from the adoptive agency if the written permission of the adoptive couple and adopted child has been obtained by an adoption social worker. They may leave their contact details on the file should their child search for them. Seeking advice, counselling and an intermediary is recommended.</p>
		</div>
		
	    <div class="col-5 col-md-5 mb-5">
			<img src="/images/BirthParents/cat.svg" class="img-fluid">
		</div>	
	</div>
	
	<div class="row justify-content-center">
		<div class="col-12 col-md-9 mb-5">
			<h6 class="reference heading pt-5">References</h6>
			<p><small class="text-muted">
			Moore, T. 2005. Dark Nights of the Soul: A Guide to Finding Your Way Through Life’s Ordeals. Reprint edition ed. New York: Avery.</small></p>
			<p><small class="text-muted">Soll, J. & Buterbaugh, K.W. 2003. Adoption Healing... A Path to Recovery for Mothers Who Lost Children to Adoption. Baltimore, MD: Gateway Press, Inc.</small></p>
			<p><small class="text-muted">Warren, J. 2016. Creative Ways to Honor Your Child. [Online], Available: https://www.newcomertoledo.com/Blog/1115/family [2020, November 20].</small></p>
		 </div>
	</div>
			
</div>
	
<%- include("partials/footer") %>

