 <%- include("partials/header") %>


<div class="col-12" style="height:10rem"></div>


<div class="container">
	<div class="row d-flex flex-row no-gutters justify-content-center">
		<div class="col-12 col-md-4 align-self-center  text-center">
			<ul class="list-unstyled mb-0">
				<li>
					<i class="fas fa-map-marker-alt fa-2x"></i>
					<p>11 Old Main Road, Gillitts, KwaZulu-Natal</p>
				</li>
				<li>
					<i class="fas fa-phone mt-4 fa-2x"></i>
					<p>+27 72 318 2566</p>
					<p>+27 82 510 7562</p>
				</li>
				<li>
					<i class="fas fa-envelope mt-4 fa-2x"></i>
					<p>silvijudd@gmail.com</p>
					<p>starhilltherapy@gmail.com</p>
				</li>
				<li>
					<a href="https://www.facebook.com/Starhill-Counselling-100591228760586
"><i class="fa fa-facebook fa-2x mt-4" aria-hidden="true"></i>
					</a>
				</li>
				<li>
					<a href="https://www.instagram.com/starhillcounselling/
"><i class="fa fa-instagram fa-2x mt-4" aria-hidden="true"></i>
					</a>
				</li>
			</ul>
		</div>
		<div class="col-12 col-md-4 mt-md-5 h-20 w-20">
			<img class ="img-fluid" src="/images/Contact/flower.svg">
		</div>
	</div>
</div>     



<%- include("partials/footer") %>
