<%- include("partials/header") %>

<div class="container-fluid">
	<div class="row justify-content-around align-items-end">
		<div class="brave col-12 col-lg-6">	
		</div>
		<div class="col-12 col-md-8 col-lg-5 mb-5 m-md-5 p-lg-5" style="list-style: none; text-align:justify">
			<h1 class="storyHeading">
				 Dear.................You are invited to my Adoption story telling evening
			</h1>
		</div>
	</div>
</div>

<div class="containr">
	<div class="row px-md-2 justify-content-center">
		<div class="col-12 d-none d-lg-block" style="height:8rem">
		</div>
		<div class="col-10 col-lg-5 mb-5">
			<p class ="main">
This is a small group and online space where we will share our adoption stories. I would really like to hear a story from your life, it does not need to be rehearsed! and it does not need to be longer than 5 minutes.
			</p>
			<p class="main">
This may seem daunting but storytelling is a way to connect (in a non-scary way) with other people who are going through the same thing as you.
			</p>
			<p class="main mb-5">
				Storytelling is where we get our dignity back, where we make sense of our hurt, where we deepen our connections and where we make sense of who we are
			</p>
			<blockquote class="blockquote mb-5">
				<p class="mb-0">[It] was as all real growth proves to be, astoundingly painful and profoundly beautiful.</p>
				<footer class="blockquote-footer"> Desmond & Mpho Tutu</footer>
	        </blockquote>
		    <blockquote class="blockquote ">
				<p>As a human being, you imagine a world that does not exist. You imagine a future that has not been created. You imagine a life you’ve never lived. 
				</p>
				<p class="mb-0">
				You imagine a self you have never become.
				</p>
				<footer class="blockquote-footer">Erwin Raphael McManus <cite title="Source Title">TedTalks (2015)</cite></footer>
	        </blockquote>
	    </div>
	    <div class="col-10 col-lg-5 offset-lg-1">
		   <img src="images/StoryTelling/bird.svg" class="img-fluid h-100">
		 </div>
    </div>
</div>

<%- include("partials/footer") %>
